<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Home Page</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/myProfile">Profile</a></li>
        </ul>
    </nav>
    <p> 
        <h1>Welcome! <br>
            <h4> This app is a place where local sponsors can connect with youth sport teams. Sponsoring youth sports teams can provide opportunities more more kids to participate in sports <br>
        <h2> Browse Teams and Events to Sponsor <br>
            <h5>This platform posts local events happening including fundraisers, tournaments, and plays/performances
        <h2> Local Impact
            <h3> Provide an opportunity for kids to play <br>
            <h5> Sponsorhip can be used to purchase equipement and cover team fees which will allow for more families be able to afford paying for their kids sports
            <h3> Improve athletic facilities <br>
            <h5>Sponsorships can be used to rehabilitate or construct new soccer feilds, ball parks, and arenas

    </p>
</body>
</html>

